//Menu container variable
$menu_bg: #fff

/*=============================================================================
 ** Main container 
 **============================================================================
.site-container
    max-width: 75rem
    @extend %default_prop

//mostly used if you have a fixed navbar 
.start-content
    @extend %default_prop
    z-index: -1

/*=============================================================================
 ** Rows 
 **============================================================================
.row
    @extend %default_prop
    margin-bottom: 1%
    +flex
    +flex-horizontal

/*=============================================================================
 ** Menu 
 **============================================================================
.menu-container
    @extend %default_prop
    background-color: $menu_bg
    min-height: 50px
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16)
    margin-bottom: 5%
    &.fixed
        position: fixed
        top: 0
        left: 0
        
/*=============================================================================
 ** text box holder 
 **============================================================================
.content-box
    padding: 1.5%
    
/*=============================================================================
 ** DRY 
 **============================================================================

%default_prop
    width: 100%
    margin: auto
    