/*=============================================================================
 ** Grids 
 **============================================================================

@for $i from 1 through 18
    .c-#{$i}
        width: $i / 18 * 100%

/*=============================================================================
 ** spaces 
 **============================================================================
@for $i from 1 through 18
    .space-l-#{$i}
        width: $i / 18 * 100%
    .space-r-#{$i}
        width: $i / 18 * 100%



/*=============================================================================
 ** Responsive Grids 
 **============================================================================
+tablet 
    @for $i from 1 through 11
        .c-#{$i}
            width: 50%
    @for $i from 12 through 18
        .c-#{$i}
            width: 100%
    
    @for $i from 1 through 18
        .tablet-#{$i}
            width: $i / 18 * 100%

+small-tablet
    @for $i from 1 through 4
        .c-#{$i}
            width: $i / 4 * 100%
    @for $i from 5 through 9
        .c-#{$i}
            width: 100% 
    
    @for $i from 1 through 18
        .sm-tablet-#{$i}
            width: $i / 18 * 100%

+mobile 
    @for $i from 1 through 18
        .c-#{$i}
            width: 100%
    
    @for $i from 1 through 18
        .mobile-#{$i}
            width: $i / 18 * 100%

[class*='c-'],[class*='col-'],[class*='mobile-'],[class*='sm-tablet-'],[class*='tablet-']
    float: left