{"filter":false,"title":"about.slim","tooltip":"/app/views/home/about.slim","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":7},"end":{"row":10,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"state":"start","mode":"ace/mode/text"}},"timestamp":1426959985000,"hash":"22a1a90798acd626a2e4ddfd5d5c5de4dd339ed0"}