{"filter":false,"title":"about.slim","tooltip":"/app/views/home/about.slim","undoManager":{"stack":[],"mark":-1,"position":-1},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":12},"end":{"row":4,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1431578576845,"hash":"22a1a90798acd626a2e4ddfd5d5c5de4dd339ed0"}