{"filter":false,"title":"index.slim","tooltip":"/app/views/home/index.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":7},"end":{"row":1,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1426960228000,"hash":"851f946e2718253fa1713bb69062166072f88959"}