{"filter":false,"title":"index.slim","tooltip":"/app/views/home/index.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":7},"end":{"row":5,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/stylus"}},"timestamp":1429668215659,"hash":"92f0713756cd57464a3a732382e768b759b67f6c"}