/*=============================================================================
 ** Variables 
 **==============================================================================
    //Button Colors 
$blue: #3498db
$green: #2ecc71
$red: #e74c3c
$black: #000
$grey: #bdc3c7
$white: #fff
    

/*=============================================================================
 ** Button 
 **==============================================================================

.btn
    text-align: center
    border: 1px solid #e5e6e7
    font-size: 1.25rem
    height: 36px
    &.btn-sm
        font-size: 0.625rem 
        height: 23px
    &.btn-lg
        font-size: 1.625rem
        height: 58px
    &.btn-xl
        font-size: 1.875rem
        height: 66px
    &.blue
        background-color: $blue
        border: 1px solid #3085d6
        &:hover
            background: #5b9ede
    &.green
        background-color: $green
    &.red
        background-color: $red
    &.black
        background-color: $black
    &.grey
        background-color: $grey
    &.white
        background-color: $white