/*=============================================================================
 ** Variables
 **==============================================================================
//menu li border color
$li_border_color: #dfdfdf
//links hover color
$link_hover_color: rgba(0, 0, 0, 0.5)
/*======================================
 ** Menu values 
 **=====================================
// menu's font
$menu_font: 'Lora', serif, Times
//link font size 
$menu_font_size: 1rem
//link padding
$menu_link_padding: 1rem 1.5rem

/*=============================================================================
 ** DRY
 **==============================================================================

%menu_default
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95)
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  list-style-type: none
  text-align: center
  margin: 1% 0
  font-size: 1rem
  li
    display: inline-block
    text-align: center
    a
      padding: $menu_link_padding
      font-family: $menu_font
      &:hover
        color: $link_hover_color
  &.bordered
    li
      border-right: 1px solid $li_border_color
      
  &.active-bottom
    border-bottom: 2px solid #98F5FF
  &.vertical
    display: block

/*=============================================================================
 ** Mobile Menu 
 **==============================================================================

.tablet-menu
  @extend %menu_default
  display: none
  a
    font-size: $menu_font_size
/*=============================================================================
 ** Menu 
 **============================================================================
.menu-container
  @extend %default_prop
  background-color: $menu_bg
  min-height: 50px
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16)
  margin-bottom: 5%
  &.fixed
    position: fixed
    top: 0
    left: 0
/*=============================================================================
 ** Regular Menu
 **==============================================================================
 
.menu
  @extend %menu_default
      
/*=============================================================================
 **  Responsive
 **==============================================================================
 
+tablet
  .tablet-menu
    width: 95%
    margin: auto
    li
      display: inline-block
      &.menu-toggle
        z-index
        width: 100%
        border-bottom: 1px solid $li_border_color
        padding: .3rem 0
        
      margin-right: 2%
    a
      padding: 1rem
  .menu
    display: none
    li
    &.bordered
      li
        border-bottom: 1px solid $li_border_color
    
+small-tablet
  .menu-toggle
    margin-bottom: 1%
  li
    width: 47%
  